extends layout.pug

block content
    if customername
        h3 Welcome, #{customername}!
    else    
        form(action='/myName', method='post')
            label Please enter your name:
                input(type='text', name='ctname') 
                
            button(type='submit') Submit oh!