extends layout.pug

block content

    form(action='/trackName', method='get') 
                label Please enter your name:
                 input(type='text', name='name') 
                
                button(type='submit') Submit la!