doctype html
html(lang="en")
  head
    title Shelly's first pug template
    
  body
  if customername 
   h3 Oops,wrong password, #{customername}!
  
  else 
    form(action='/member', method='get')
      label Sign-up now to get discounts: 
      br 
      input(type='text', name='nemails') 
      br
      label Create a password:
      br
      input(type='text', name='npassw')
      br          
      button(type='submit') Sign-up!
      br
      br
      label Already a customer? 
      br
      label Sign-in to your account: 
      br 
      input(type='text', name='oemails') 
      br
      label Input your password:
      br
      input(type='text', name='opassw')
      br          
      button(type='submit') Sign-in!


