doctype html
html(lang="en")
  head
    title Shelly's first pug template
    
  body
  if customername
   h3 Oops,wrong password, #{customername}!
  
  else 
    form(action='/member', method='get')
      label Please input your email: 
      br 
      input(type='text', name='emails') 
      br
      label Please input your password:
      br
      input(type='text', name='passw')
      br          
      button(type='submit') Submit la! 


